	<ul>
		<li><a href="<%= categories_path %>">Все категории</a></li>
		<li><a href="<%= products_path %>">Все продукты</a></li>
		<li><a href="<%= products_path(:format => 'json') %>">Все продукты  json</a></li>
		<li><a href="<%= categories_path(:format => 'json')  %>">Все категории json</a></li>
		<li><a href="<%= new_category_path %>">Создать категорию</a></li>
	</ul>

