<%= render "nav.html.erb" %>


<div>
  <% @products.each do |product| %>
     <div>
	     <%= link_to Product.find(product).title, category_product_path(product.category_id, product) %>
	     <img src='<%= product.picture.url %>' width="200" height='200'>
	     <div><%= product.text %></div>
	     <div><%= product.price %> сом</div>
     </div>
  <% end %>
</div>