<% provide :page_title, 'Категория' %>
<%= link_to 'Создать категорию', new_category_url %>

<div class="form-horizontal">
  <div class="col-md-6 col-sm-6 col-xs-12">
    <table class="table table-hover col-sm-12">
      <thead>
      <tr>
        <th class="col-sm-4">Title</th>
        <th class="col-sm-2">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @categories.each do |category| %>
          <tr>
            <td><%= category.title %></td>
            <td>
              <%= link_to 'View, ', category_url(category) %>
              <%= link_to 'Edit, ', edit_category_url(category) %>
              <%= link_to 'Remove', category_url(category),
                          method: :delete,
                          data: {confirm: 'Вы действительно хотите удалить эту категорию?'} %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>