<h1 class="category_title">
  Категория:
  <%= @category.title %>
</h1>

<section id="product">
<h2>Все продукт</h2>
  <% @category.products.each do |product| %>
    <div class="product_item">
    <p>
      <strong>Название:</strong>
      <%= product.title %>
    </p>


    <p>
      <strong>Цена:</strong>
      <%= product.price %>
    </p>

    <p>
      <strong>Описание:</strong>
      <%= product.text %>
    </p>

      <p>
        <strong>Фото:</strong><br>
        <img src="<%=product.picture.url%>" width="100">
      </p>

    <%= link_to 'подробней', category_product_path(product.category_id, product) %>
    </div>
  <% end %>
</section>




<h2>Добавить продукт</h2>
<%= form_for([@category, @category.products.build], method: :post, multipart: true) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.file_field :picture %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :text %><br>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>