<p>
  <strong>Category:</strong>
  <%= @product.category.title %>
</p>
<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>
<p>
  <strong>Picture:</strong>
  <img src='<%= @product.picture.url %>' width="200" height='200'>
</p>
<p>
  <strong>Text:</strong>
  <%= @product.text %>
</p>
<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<%= link_to 'Edit, ', edit_product_url(@product) %>
<%= link_to 'Remove', product_url(@product),
            method: :delete,
            data: {confirm: 'Вы действительно хотите удалить этот товар?'} %>