<div>
     <div>
	     <h1><%= @product.title %></h1>
	     <div><%= @product.text %></div>
	     <div><%= @product.price %> сом</div>
	     <div>
           <img src="<%=@product.picture.url%>" width="100">
       </div>
       <%= link_to 'Destroy', [@product.category, @product], method: :delete %>
     </div>
</div>